body, td {
	font-family: helvetica;
	margin: 3%;
	padding: 0;
}
div.code {
	padding: 1em;
	background: #eee;
	margin: 1em;
	border: solid 1px #ccc;
	white-space: pre;
}
div.note {
	background: #ffa;
	border: solid 1px #aa7;
}
